@charset "UTF-8";
#requester-left{
	width: auto;
    height: 200px;
    padding: 20px 0px 20px 20px;
}
#requester-right{
	width: auto;
    height: 200px;
    padding: 20px 0px 20px 20px;
}
.card-info{
	height: 26%;
}
.modal-header{
	background-color: #2ac1bc;
    color: white;
}
#requestCloseBtn{
	background-color: #2ac1bc;
    color: white;
}
#modalCloseBtn{
	background-color: #2ac1bc;
    color: white;
}